<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<!-- 变量配置 -->
	<Properties>
		<Property name="log_path">D:/log</Property>
	</Properties>
	<!-- appender配置 -->
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="DailyRollingFile" fileName="${log_path}/Education_log.log"
			filePattern="${log_path}/zcrTest%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
			<TimeBasedTriggeringPolicy interval="1" />
			<SizeBasedTriggeringPolicy size="10 MB" />
		</RollingFile>
	</appenders>
	<!-- 配置要使用的appender -->
	<!-- additivity开启的话，由于这个logger也是满足root的，所以会被打印两遍。 不过root logger 的level是error，为什么Bar 
		里面的trace信息也被打印两遍呢 -->
	<loggers>
		<root level="TRACE" additivity="false" name="mylog">
			<appender-ref ref="Console" />
			<AppenderRef ref="DailyRollingFile" />
		</root>
	</loggers>
</configuration>  